h1 {
  color: white;
  font-size: 300%;
  font-family: halcom,sans-serif !important;
  font-weight: 800;
  font-style: normal;
}

.flex1 {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #0600BE;
  padding: 20px;
}

.dropdown {
  position: absolute;
  top: 2%;
  left: 80%;
}

.btn-primary {
  color: white;
  background-color: #FF0000;
  border: none;
}

.btn-primary: hover {
  color: white;
  background-color: #FF4a4a;
  border: none;
}

.btn {
  margin-top: 25px;
  border: none;
  min-width: 120px;
  min-height: 75px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #0600BE;
  position: center;
  padding: 10px;
}
